.header-background {
	background-color:#1f8dd6;
}
table{
	margin-bottom: 0 !important;
}

.td_label {
  font-weight: bold;
  color: white;
}
.twbs .w-18 {
	width: 18% !important;
}
p.section-title {
  font-size: 1.1em;
  font-weight: bold;
  margin:0;
  padding:0;
	color:#1f8dd6;
	white-space:nowrap;
	overflow:hidden;
}


div.section{
	border:1px solid #BFE6FF;
	display:inline-block;
	width: 99% !important;
	margin:0;
	background:white;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	cursor:move;
}
div.recordTarget{
	cursor:default;
}
div.section.is-dragging,
div.section.is-positioning-post-drag {
  background: #E0E0DF;
  z-index: 2;
}

.packery-drop-placeholder {
	background:white;
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}
div.section_in{
	padding:2px;
	border:3px solid transparent;
}
div.section_in:hover,div.sectionhover{
	border:3px solid #BFE6FF;
}
div.controls{
	float:right;
	clear:right;
	cursor:pointer;
	display:none;
}

#tocdiv{
	width: 37%;
}
div.fadehighlight{
	border:1px solid red;
	border:3px solid #BFE6FF;
	font-weight:bold;
	z-index:1;
	background:#BFE6FF;
}

#cdabody{
	padding-left:0.5em;
}
i.thumb{
	float:left;padding:0.25em;margin-top:-0.4em;margin-left:-0.4em;background:white;margin-right:0.25em;font-size:1.5em;border-radius:10px;
	border-top:2px solid #BFE6FF;border-left:2px solid #BFE6FF;color:#1f8dd6;
}
tr.duplicatefirst{
	background:#eee;
}
tr.duplicate{
	background:white;
	display:none;
}